@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background-muted: var(--background-muted);
    --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-background: var(--secondary-background);
  --color-highlight: var(--highlight);

  --font-sans: var(--font-lato), sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --font-dynaPuff: var(--font-dynaPuff);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-muted-text: var(--muted-text);
}

:root {
  --background-muted: oklch(91.887% 0.0001 271.152);
  --background: oklch(1 0 0);
  --secondary-background: oklch(0.6947 0.1614 132.76);
  --foreground: oklch(0.2 0.01 40);
  --highlight: oklch(0.3957 0.1343 138.8);

  --primary: oklch(0.6947 0.1614 132.76);
  --primary-foreground: oklch(1 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.7452 0.0011 17.18);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.6947 0.1614 132.76);
  --radius: 0.625rem;
  --primary-text: oklch(0.3942 0 0);
  --secondary-text: oklch(100% 0.00011 271.152);
  --muted-text: oklch(0.6797 0 0);
}

.dark {
  --background-muted: oklch(71.547% 0.00008 271.152);
  --background: oklch(0.3446 0 0);
  --secondary-background: oklch(0.6947 0.1614 132.76);
  --foreground: oklch(0.985 0 0);
  --highlight: oklch(0.3957 0.1343 138.8);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --primary-text: oklch(79.837% 0.00009 271.152);
  --secondary-text: oklch(62.006% 0.00007 271.152);
  --muted-text: oklch(49.616% 0.00006 271.152);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: rgba(var(--ring), 0.5); /* অথবা আপনার আগের রুল */
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  html {
    font-family: var(--font-sans);
  }
}
@utility smooth-hover{
  @apply hover:transition-all duration-500 ease-in-out
}